@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply bg-slate-950 text-slate-50 antialiased;
  }

  body {
    @apply min-h-screen;
  }

  #app {
    @apply min-h-screen;
  }
}
